<section class="mt-lg-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-xl-6 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up" style="border-radius: 90px;">
                    <mdb-icon fas icon="charging-station" class="primary-color"></mdb-icon>
                    
                    <div class="data">
                        <p>Scoring Hash Rate</p>
                        <h4><strong>100</strong> TH/s</h4>
                    </div>
                </div>
                <!--/.Card Data-->

                <!--Card content-->
                <mdb-card-body>
                    <div align="center">
                        <h5><mdb-icon style="color: rgb(16, 167, 16); padding-right: 5px;" fas icon="check"></mdb-icon>0&nbsp;<mdb-icon style="color: rgb(255, 208, 52); padding-right: 5px; padding-left: 25px;" fas icon="arrow-down"></mdb-icon>0&nbsp;<mdb-icon style="color: rgb(190, 40, 40); padding-right: 5px; padding-left: 25px;" fas icon="exclamation-triangle"></mdb-icon>0&nbsp;</h5>
                    </div>
                    <!--Text-->
                    <p align="center" class="card-text">Workers States</p>
                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-6 col-md-6 mb-r">

            <!--Card-->
            <mdb-card cascade="true" class="cascading-admin-card">

                <!--Card Data-->
                <div class="admin-up">
                    <mdb-icon fas icon="chart-line" class="warning-color"></mdb-icon>
                    <div class="data">
                        <p>estimate reward for a day</p>
                        <h4><strong>0.00001000</strong> BTC</h4>
                    </div>
                </div>
                <!--/.Card Data-->

                <!--Card content-->
                <mdb-card-body>
                    <div align="center">
                        <h5>0.01021000 BTC</h5>
                    </div>
                    <!--Text-->
                    <p align="center" class="card-text">All time reward</p>
                </mdb-card-body>
                <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column
        <div class="col-xl-4 col-md-6 mb-r">

            <mdb-card cascade="true" class="cascading-admin-card">

                <div class="admin-up">
                    <mdb-icon fas icon="chart-pie" class="light-blue lighten-1"></mdb-icon>
                    <div class="data">
                        <p>TRAFFIC</p>
                        <h4><strong>20000</strong></h4>
                    </div>
                </div>
  
                <mdb-card-body>
                    <div class="progress">
                        <div class="progress-bar grey darken-2" role="progressbar" style="width: 75%" aria-valuenow="75"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                   
                    <p class="card-text">Worse than last week (75%)</p>
                </mdb-card-body>

            </mdb-card>

        </div>
        Grid column-->

        

    </div>
    <!--Grid row-->

</section>
